html {
  font-size: clamp(1rem, calc(0.5rem + 1vw), 3rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn{
  color: #FFFFFF;
  background-color: #96BB7C;
  display: inline-block;
  padding: clamp(1.2vw , 1.5rem, 0.7rem);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-border::before{
  content: '';
  position: absolute;
  top:  0;
  z-index: -1;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(11, 104, 31, 0.2);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease;
}
.btn-border:hover::before{
  width: 100%;
  opacity: 1;
}

.btn:hover{
  color: #252B42;
  transform: scale(1.1);
}
.btn-border:hover{

  color: #252B42;
  transform: scale(1.1);
  border-color: #252B42;

}
header nav ul li{
  transition: all 0.3s ease;

}
header nav ul li:hover {
  transform: scale(1.1);
  color: #252B42;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.btn-border{
  color: #96BB7C;
  border: clamp(0.05rem, 0.02vw , 0.1vw ) solid #96BB7C;
  display: inline-block;
  padding: clamp(1.2vw , 1.5rem, 0.7rem);

  border-radius: 5px;
  transition: all 0.3s ease;
}
header{
  background-color: #fff2f3;
  text-align: center;
  padding-bottom: clamp(0.5rem, 4vw , 1rem);
   padding-top: 5px;
     padding-left: 1vw;
  padding-right: 1vw;
}




header h1{
  color: #252B42;
  font-size: clamp(1.2rem, 1.2vw , 1.5rem);
  font-weight: bold;
}


header ul li {
  color: #737373;
  margin: 2vw 0vw 2vw 0vw;
  padding: 5px;
  font-size: clamp(1.2rem, 1.3vw , 1.2rem);
}

.banner {
  background-color: #fff2f3 ;
}
body h4{
  color: #96BB7C;
  text-align: center;
}
.banner h2 {
  font-size: clamp(2rem, 8vw, 3rem);
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 20px;
}
.best .btn-border:hover{
  margin-left: 1.1rem;
  margin-right: 1.1rem ;
}
.best .btn:hover{
  margin-left: 1.1rem;
  margin-right: 1.1rem ;
}

.banner p {
  text-align: center;
  font-size: 1rem;
  display: block;
  margin-top: clamp(10px, 0.05vw , 30px);
  color: #737373;
}

body p{
  font-size: 1rem;
  margin-top: clamp(10px, 0.05vw , 30px);
  color: #737373;
  text-align: center;
}
body h3 {
  font-size: clamp(2rem, 4vw, 2rem);
  font-weight: bold;
  text-align: center;
}

.imagens {
  padding: 0.5rem;
}

.imagens ul li {
  display: inline-block;
  background-color: #ECF0E8;
  padding-bottom: 2rem;
  margin: clamp(0.5rem, 0.5vw , 1rem);
}
.best{
  padding: 0.5rem;
}

.education{
  padding: 0.5rem;
}

.imagens ul li h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #252B42;
}

.imagens ul {
  text-align: center;
}

.newsletter{
  padding: 3rem;
  display: block;
  background-color: #FFF2F3;
}


footer ul {
  display: flex;
  justify-content: center;
  gap: clamp(15px, 0.5vw, 30px);
  align-items: center;
  padding: 1rem;
}
@media only screen and (min-width: 600px){
  header{
  display: flex;
  justify-content: space-between;
  align-items: center; /*É PRA N FICA DAUQLE JEIO Q EU NAO GOSTO LÁ VC VAI SE LEMRAR VINI DO FUTURO*/
}


.imagens li{
  transition: all 0.3s ease;
}
  header ul {
  display: flex;
  gap:clamp(15px, 0.5vw, 30px);
  align-items: center; /*É PRA N FICA DAUQLE JEIO Q EU NAO GOSTO LÁ VC VAI SE LEMRAR VINI DO FUTURO*/

}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body h4{
  text-align: left;
}
.best h2{
  text-align: left;
}
.best p{
  text-align: left;
}
.best{
  padding: clamp(2rem, 1vw , 1.6rem);
}
.btn-border:hover{
  margin-left: 1.1rem;
  margin-right: 1.1rem ;
}

.btn:hover{
  margin-left: 1.1rem ;
}

header h1{
  font-size: clamp(1.2rem, 3vw , 3rem);
}
header ul li {
  font-size: clamp(1.2rem, 1.3vw , 1.2rem);
}

body h3 {
  text-align: left;
}
body p{
  text-align: left;
}

.education{
  padding: clamp(2rem, 1vw , 1.6rem);
}

.imagens ul {
justify-content: space-between;
text-align: center;
}

.imagens ul li h4 {
  font-size: 1rem;
 text-align: center; 
 padding: 0.5rem;
}
.imagens ul li p {
 text-align: center; 
 padding: 0.5rem;
}

.imagens {
  margin-top: clamp(2rem, 1vw , 1.6rem);
}

.imagens ul li img{
  width: clamp(100px, 20vw , 300px);
  height: clamp(100px, 20vw , 300px);
}

.imagens ul li:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.newsletter h4 {
  text-align: center;
}
.newsletter h3 {
  text-align: center;
}
.newsletter p {
  text-align: center;
}

footer {

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: clamp(15px, 0.5vw, 30px);
  align-items: center;
}

footer ul li:hover{
  transform: scale(1.3);
  transition: all 0.3s ease;
}}